<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-02-08T21:41:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/anassmouakkid/.gemini/antigravity/scratch/WikiRaceApp</string>
</dict>
</plist>
